/* Elements */
body {
	font-family: Calibri, Arial;
	font-size: 13px;
	margin: 0;
	padding: 0;
	background-color: #eaffea;
	overflow: hidden;
}

progress {
	width: 100px;
	height: 5px;
} 
 
 button {
	background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
	border: solid #93BC3D 1px;
	border-radius: 3px;
	cursor: pointer;
 }  

textarea {
	outline: 0;
}

select {
	background : transparent;
	margin: 4px;
	vertical-align: 10px;
	width: calc(100% + 17px);
	border-width: 0; 
	color: #375B28;
	cursor: pointer;
	text-shadow:1px 1px #fff;
	line-height: 20px;
}

select:focus {
	outline: 0;
}

option {
	background-color: #C2E37C;
	cursor: pointer;
	overflow: hidden;
}

/* MODALS */

#pr2_modal_background {
	position: absolute;
	left: 0px; 
	top:0px; 	
	bottom: 0px;
	right: 0px;
	background-color: black;
	opacity: 0.9;
	color: white;
	font-size: 20px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	display: none;
	z-index: 3000;
} 

#pr2_help_modal_close {
	position: absolute;
	z-index: 3002;
	background-position: -532px 0;
	width: 28px;
	cursor: pointer;
	height: 28px;
	top: 28px;
	background-image: url('../icons/pr2_sprite.png');
	left: 50%;
	display: none;
	margin-left: 300px;
}

#pr2_help_modal_close:hover {
	opacity: 0.7;
}

#pr2_help_modal {
	position: absolute;
	background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
	border: solid #cdeb8e 1px;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
	color: #29441e;
	overflow-y: auto;
	height: calc(100% - 60px);
	display: none;
	z-index: 3001;
}

#pr2_help_modal p {
	margin: 0 0 10px 0;
}

#pr2_help_modal h1 {
	font-size: 18px;
	margin: 15px 0 0 0;
}

#pr2_help_modal h2 {
	font-size: 16px;
	margin: 15px 0 0 0;
}

#pr2_help_modal h3 {
	font-size: 14px;
	margin: 15px 0 0 0;
}

#pr2_help_modal .contents a {
	color: black;
}

#pr2_help_modal .up {
	color: black;
	display: block;
	text-align: right;
}

#pr2_help_modal img {
	float: left;
	vertical-align: text-top;
	margin: 5px 5px 5px 0;
}

#pr2_help_modal notice {
	background-color: white;
	display: block;
	padding: 5px; 
	margin: 15px 0 15px 0;
	border-radius: 5px;
	border: solid #29441E 1px;
}

#pr2_help_modal notice:before	{
	content:"Important: ";
	font-weight: bold;
} 

#pr2_help_modal tip {
	background-color: #ffff99;
	display: block;
	padding: 5px; 
	margin: 15px 0 15px 0;
	border-radius: 5px;
	border: solid #ffcc00 1px;
}

#pr2_help_modal tip:before	{
	content:"Tip: ";
	font-weight: bold;
} 

#pr2_info_message {
	font-size: 16px;	
}

#pr2_confirm_modal, #pr2_info_modal {
	position: absolute;
	z-index: 3001;
	background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
	border: solid #cdeb8e 1px;
	border-radius: 3px;
	width: 400px;
	min-height: 90px;
    margin-left:-200px;
    left:50%;
	margin-top: 150px;
	display: none;
	color: #29441e;
	padding: 20px;
	text-align: center;
	text-shadow: 1px 1px #FFFFFF;	
}


#pr2_confirm_modal > button {
	margin: 5px;
	font-size: 14px;	
	text-shadow: 1px 1px #FFFFFF;		
}

#pr2_confirm_question {
	height: 80px;
	font-size: 16px;	
	text-align: left;
}


.pr2_canvas {
	position: absolute;
	left: 1px; 
	top:40px; 	
	border: solid #93BC3D 1px;
 
}
 
 
#pr2_canvas { 
	z-index: 1;
	background-color: white;
}

#pr2_temp_canvas { 
	z-index: 2;
}

#pr2_remote_pointer {
	background-repeat: no-repeat;
	position: absolute;
	z-index: 200;
	width: 20px;
	height: 20px;
	display: none;
}



#pr2_toolbar {
	background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
	position: absolute;
	margin-top: -6px;
	z-index: 30; 
	user-select: none;
	left: 0;
	right: 0;
	height: 44px;
	min-width: 800px;
	box-shadow: 1px 1px 5px #000;
	user-select: none;user-select: none;
	-webkit-user-select: none;
}

 
#pr2_start_button {
	background-image: url('../icons/pr2-home-button.png');
	width: 39px;
	height: 39px;
	display: inline-block;
	margin: 7px 1px -7px ;
	cursor: pointer;
	z-index: 100;	
}

 

#pr2_start_button:hover {
	box-shadow: 3px -2px 3px #fff;
}

#pr2_start_menu {
	position: absolute;
	z-index: 40;
	left: 10px;
	list-style: none;
	border: solid #93BC3D 1px;
	margin: 0;
	padding-left:0;
	font-size: 14px;	
	text-shadow: 1px 1px 2px #EEEEEE;	
	color: #375B28;	
	box-shadow: 1px 1px 2px #000;
	cursor: pointer;
	background-color: #A5C956;
	-moz-user-select: none;	
	user-select: none;
	-webkit-user-select: none;
	
}
#pr2_start_menu li {
	display: block;
	height: 18px;
	min-width: 150px;
	padding: 3px 5px 3px 5px;
	
}

#pr2_start_menu li:hover {
	background-color:#B6D76E;
}
 
 
#pr2_start_menu ul {
	list-style: none;
	background-color: #A5C956;
	text-shadow: 1px 1px 2px #EEEEEE;	
	color: #375B28;	
	box-shadow: 1px 1px 2px #000;
	position: absolute;
	left: 160px;
	margin-left:0;
	margin-top: -25px;
	padding-left:0;
}
#pr2_start_menu >li > ul {
	transition-property: visibility;
	transition-delay: 250ms;
	visibility: hidden;
}

#pr2_start_menu >li:hover > ul { 
    visibility: visible; 
}

.pr2_startmenu_menu {
	background-image: url('../icons/menu-arrow.png');
	background-repeat: no-repeat;
	background-position: right 4px;
	
}
 

.pr2_tool_button {
	display: inline-block;
	background-image: url('../icons/pr2_sprite.png');
	background-repeat: no-repeat;
	height: 28px;
	width: 28px;
	margin: 0 0 0 10px;
	border: solid transparent 1px; 
	background-repeat: no-repeat;
	border-radius: 4px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.pr2_tool_button:hover, .pr2_toolbar_picker_button:hover{
	border: solid #93BC3D 1px;
}

.pr2_tool_button:active, .pr2_toolbar_picker_button:active {
	border: solid #4F8239 1px; 
}

.pr2_tool_button_disabled {
	opacity: 0.5;
	border: solid transparent 1px;
	cursor: default;
}
.pr2_tool_button_disabled:hover {
	opacity: 0.5;
	border: solid transparent 1px;
}
.pr2_tool_button_disabled:active {
	opacity: 0.5;
	border: solid transparent 1px;
}

.pr2_tool_button_selected { 
 	background-color: #cdeb8e;
	border-color: #80A435;
}

.pr2_spacer {
	height:28px; 
	margin:0 2px 0px 10px;
	padding-left: 1px;
	border-left: solid #D5EDA3 1px;
	border-right: solid #99C442 1px;
	display: inline-block;
}

.pr2_toolbar_picker {
	box-shadow: 1px 1px 5px #000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #a5c956;
	border: solid #93BC3D 1px;
	border-top-width:  0px;	
	position: absolute; 
	z-index: 4;	
}

.pr2_picker_button, .pr2_toolbar_picker_button  {
	display: inline-block;
	height: 28px;
	width: 28px;
	margin: 0 0 0 10px;
	border: solid transparent 1px; 
	background-repeat: no-repeat;
	border-radius: 4px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.pr2_picker_button:hover{
	border: solid #93BC3D 1px;
}

.pr2_picker_button:active {
	border: solid #4F8239 1px; 
}

#pr2_undo_button {
	background-position: -168px 0;
}

#pr2_redo_button {
	background-position: -168px -28px;
}

#pr2_paint_button {
	background-position: -112px 0;	
}

#pr2_write_button {
	background-position: -280px 0;	
}

#pr2_shape_button {
	background-position: -140px 0;	
}

#pr2_point_button {
	background-position: -224px 0;	
}

#pr2_player_button {
	background-position: -420px 0;	
	margin-left: 180px;
}

#pr2_select_linewidth_button {
	background-image: url('../icons/black_line.png')  !important;
	background-size: 20px 2px !important;
	background-position: 4px 8px;
}


#pr2_select_linewidth_button + .pr2_toolbar_picker > span:hover{ 
	border: solid #cdeb8e 1px;
}

#pr2_select_bg_button {
	background-position: -196px 0;
}

#pr2_question_button {
	background-position: -504px 0;
}


.pr2_active_player_button {
	background-position: -448px 0 !important;	
}

#pr2_fullscreen_button {
	background-position: -392px 0;	
}

#pr2_chat_container  > span {
	display: inline-block;
	width: 20px;
}

#pr2_chat_container button{
	vertical-align: 7px;
	margin-left: 1px;
	border: solid #93BC3D 1px;
	display: inline-block;
	height: 18px;
	width: 18px;
	border-radius: 3px;
	cursor: pointer;
 	background-image: url('../icons/pr2_sprite.png'), linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%) !important;	
}
#pr2_chat_send_button{
	background-position: -478px -1px;
}

#pr2_file_send_button {
	background-position:-90px -30px, 0 0 ;
	margin-top: -20px;	
}

#pr2_select_color_button + .pr2_toolbar_picker { 
	width: 123px;
	min-height: 40px;
	padding-top : 2px;
}
 
#pr2_select_color_button + .pr2_toolbar_picker > span {	
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-top: 2px;
	margin-left: 2px;
	border: solid #cdeb8e 1px;
}

#pr2_select_color_button + .pr2_toolbar_picker > span:hover  {	
	border: solid #93BC3D 1px;
}
 
#pr2_select_color_button + .pr2_toolbar_picker > span:active  {	
	border: solid #4F8239 1px; 
}

#pr2_select_linewidth_picker { 
	width: 30px;
	min-height: 40px; 
}

#pr2_select_linewidth_button + .pr2_toolbar_picker > span {	
	display: inline-block;
	background: url('../icons/black_line.png') 2px 4px no-repeat; 	
	height: 22px;
	padding: 1px;
	width: 22px;
	margin-left: 2px;
	border-radius: 2px;
}

#pr2_select_bg_button {
	background-repeat: repeat;
	background-position: 0, -4px;
}

#pr2_select_bg_button + .pr2_toolbar_picker {
	padding: 10px;
	width: 430px;
	min-height: 100px;
}

#pr2_select_bg_button + .pr2_toolbar_picker > span {
	display: inline-block;
	background-repeat: repeat;
	margin-right: 10px;
	margin-top: 5px;
	height: 64px;
	width: 64px;
}

#pr2_select_shape_button {
	background-image: url('../icons/pr2_sprite.png');
}
  

#pr2_select_shape_button + .pr2_toolbar_picker {
	width: 212px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#pr2_select_shape_button + .pr2_toolbar_picker > span {
	background-image: url('../icons/pr2_sprite.png');
	background-repeat: no-repeat;	
}

#pr2_textheight_calculator {
	font-size : 11px;
	font-family: Verdana;
	font-weight: normal;
	margin: 0;
	top: -300px;
	height: 20px;
	z-index: -1000;
	position: absolute;
	display: inline-block;
	padding: 0;
	border: solid #3399ff 1px;
	overflow: hidden;
}

#pr2_text_editor {
	background-color: transparent;
	z-index: 10;
	font-size : 11px;	
	font-family: Verdana;
	font-weight: normal;
	width: 200px;
	margin: 0;
	position: absolute;
	display: none;
	padding: 0;
	resize:none;
	overflow: hidden;
	border: solid #3399ff 1px;
	background: url('../icons/drag-handle.png') no-repeat right top, url('../icons/resize-handle.png') no-repeat right bottom;	
}
#pr2_text_editor:focus {
	border: solid #3399ff 1px;  
	outline: none;
}

#pr2_image_editor {
	background-color: transparent;
	z-index: 10;
	width: 200px;
	margin: 0;
	resize: none;
	position: absolute;
	display: none;
	padding: 0;
	overflow: hidden; 
	border: solid #3399ff 1px;
	cursor: move;
	user-select: none;
	-webkit-user-select: none;
	background-size: auto auto, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	background-position: 100% 100%, right bottom;	 
}



 
.pr2_handle {
	background-image: url(../icons/arrow.png);
	background-position: right top;
	background-repeat: no-repeat;
}


.pr2_canvas_border_layers {
	background-color: #eaffea;
	z-index: 15;
	position: absolute;	
}

#pr2_bottom_layer {
	left: 0;
	right: 0;
	bottom: 0;
}

#pr2_left_layer {
	left: 0;
	width: 1px;
	top: 0;
	bottom: 0;
}

#pr2_right_layer { 
	right: 0;
	top: 0;
	bottom: 0;
}

#pr2_player_container { 
	position:absolute;   
	padding: 0;
	top: 100px;
	height: 400px;
	right: 2px;
	left: 800px;
	z-index: 27;
	background-color: #eaffea;
}

.pr2_player {
	position: absolute;
	background-color: black; 
}

#pr2_remote_player {
	z-index: 1;
	right: 0;
	width: calc(100% - 4px);
	height: 300px;
	border: solid #93BC3D 1px;
}

#pr2_local_player {
	z-index: 2;
	right: 0;
	height: 90px;
	width: 120px;
	margin: 4px;
}

.pr2_remote_player_fullscreen {
	height: 100% !important;
	width: 100% !important;
	margin: 0 !important;
}
 
.pr2_local_player_fullscreen {
	position: absolute;
	z-index: 400;
	border: solid #93BC3D 1px;
	margin: 10px;
}

#pr2_cam_button {
	background-image: url('../icons/pr2_sprite.png');
	background-position: -420px 0;
	height:28px;
	width: 28px;
	display: inline-block; margin: 0;
	cursor : pointer;
	border: solid transparent 1px;
	margin:2px;
	border-radius: 4px;
}

#pr2_cam_button:hover, #pr2_fullscreen_button:hover {
	border: solid black 1px;
}

.pr2_active_cam_button {
	background-position: -448px 0 !important;	
}

#pr2_fullscreen_button {
	background-image: url('../icons/pr2_sprite.png');
	background-position: -392px 0;
	height:28px;
	width: 28px;
	display: inline-block;
	cursor : pointer;
	border: solid transparent 1px;
	margin: 2px;
	border-radius: 4px;
}

#pr2_cam_controls {
	background-color: white;
	opacity: 0.1;
	display: block;
	z-index: 300;
	width:34px;
	color: black;
	position: relative;
	margin: 10px;
	border-radius: 5px;
	text-align: center;	
}

#pr2_cam_controls:hover {
	opacity: 0.3;	
}

.pr2_remote_player_fullscreen {
	height: 100%;
    left: 0px;
    position: absolute;
    top: 0;
	border-width: 0;
    width: 100%;
}
 
#pr2_chat_container { 
	position:absolute;   
	padding: 0;
	top: 40px;
	right: 2px;
	z-index: 26;
	background-color: #eaffea;
}

#pr2_chat_conversation { 
	border: solid #93BC3D 1px; 
	width: calc(100% - 12px); 
	height:200px;  
	background-color: white; 
	overflow-y: auto;
	padding: 3px;
	margin-left: 3px;
	font-size: 14px;
	line-height: 20px;
}

#pr2_chat_conversation>div>span:last-child {
	display: inline-block; 
	width: calc(100% - 58px);
	padding-left: 2px;
}

#pr2_chat_conversation>div>span:first-child { 
	display:inline-block; 
	width: 50px; 
	vertical-align: top; 
	overflow:hidden;
}

#pr2_chat_input { 
	border: solid #93BC3D 1px; 
	margin: 4px 3px 3px 3px;
	padding: 2px;
	font-size: 14px;
	resize: none;
	width: calc(100%  - 33px);
	height: 80px;
	font-family: Calibri,Arial;
}

#pr2_chat_conversation a {
	color: #375B28;
}

#pr2_chat_conversation a:hover {
	font-style: italic;
}

#pr2_chat_input:disabled {
	background-color: white;
}

.pr2_chat_other { 
	color: green 
}

.pr2_select_wrapper {
	background-color: #CDEB8E;
    background-image: url("../icons/select-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    height: 28px;
    overflow-x: hidden;
    overflow-y: hidden;
	margin-left:8px;	
	display:inline-block;
	border: solid #80A435 1px;
	border-radius: 3px;

}

.pr2_select_wrapper:hover {
	border: solid #93BC3D 1px;
}


/* EMOTICONS */

.pr2_emo {
	background-image: url('../icons/pr2_emoticon_sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: top;
	
}

.pr2_emo_nerd {
	background-position: 0px 0px;
}

.pr2_emo_smile {
	background-position: -20px 0px;	
}

.pr2_emo_wink {
	background-position: -160px -20px;	
}

.pr2_emo_think {
	background-position: -100px 0px;	
}